# Core numerical and image libraries
numpy==1.26.4
Pillow==10.2.0
# YAML config
PyYAML==6.0.1
# Deep learning
torch==2.5.1
torchvision==0.20.1
timm==0.9.16
# opencv
opencv-python==4.9.0.80
# Visualization
matplotlib==3.8.3
tqdm==4.66.2
# Augmentations
albumentations==1.4.1
# Typing helpers (compat)
typing-extensions==4.10.0
# ML
scikit-learn==1.4.1.post1
# segmentation
cellpose==3.0.0
# Report Generation
reportlab==4.1.0
# API
fastapi==0.115.6
uvicorn==0.29.0
python-multipart==0.0.9